<div class="container-fluid">
<div class = "jumbotron">
<h1> GITHUB SEARCH</h1>
</div>

</div>
<hr>
<br>


    <form action="" class="form-user">
      <div class="form-group">
        <label for="name">User Name</label> <br><br>
        <input type="text" class="form-control" placeholder="Username:" [(ngModel)]="username" name="username" (keydown)="findProfile()">
        </div>
        </form>
<br>
<hr>



<div class="container">
<div *ngIf="profile">
        <div class="row">



            <div class="col-md-4"></div>
          <img src="{{profile.avatar_url}}" class="img-circle img-responsive"alt="Profile Picture">
        </div>
        </div>



          <h4><strong>{{profile.name}}</strong></h4>
        <ul class="list-group">
            <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
            <li class="list-group-item" *ngIf="profile.url" target="_blank">Profile: <a href="{{profile.html_url}}">{{profile.html_url}}</a></li>
            <li class="list-group-item" *ngIf="profile.email">Email: <a href="{{profile.email}}">{{profile.email}}</a></li>
            <li class="list-group-item" *ngIf="profile.public_repos">Public Repositories: {{profile.public_repos}}</li>
          </ul>


          </div>
